.container2 {
    box-sizing: border-box;
    width: 100%;
    padding: 20px; /* Adicionado padding para espaçamento interno */
    margin: 10px auto; /* Centraliza o conteúdo horizontalmente */
    background-image: url('../../assets/image/textura.jpg');
}

.title-about {
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adicionado espaçamento inferior */
}

.conteudo {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos sejam distribuídos em várias linhas */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    gap: 20px; /* Espaçamento entre os cards */
}

.frame-a,
.frame-b,
.frame-c,
.frame-d {
    flex: 1 1 calc(50% - 20px); /* Define a largura dos cards */
    max-width: calc(50% - 20px); /* Define a largura máxima dos cards */
    box-sizing: border-box; /* Considera a largura do padding e da borda no cálculo da largura */
}

.gamificacao {
    display: block;
    width: 33.333%;
    height: 250px;
}
.gamificacao p {
    font-weight: 200;
}

/* Adicionando media queries para responsividade */
@media screen and (max-width: 768px) {
    .frame-a,
    .frame-b,
    .frame-c,
    .frame-d {
        flex-basis: calc(100% - 20px); /* Define a largura dos cards para telas menores */
        max-width: calc(100% - 20px); /* Largura máxima dos cards */
    }

    .gamificacao {
        width: 100%; /* Define a largura do elemento gamificação para 100% em telas menores */
        height: auto; /* Ajusta a altura automaticamente baseado no conteúdo interno */
    }
}

