.clientes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px;
    align-items: center;
}

.frame {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
}

.title {
    font-size: 30px;
    padding: 5px;
    margin: 0;
}

.promec {
    display: flex;
    flex-direction: column;
}

.promec1 {
    width: 100%; /* Changed to 100% for better responsiveness */
    border-radius: 5px;
}

/* Updated media queries for better responsiveness */

@media screen and (max-width: 1024px) {
    .clientes {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .clientes {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .clientes {
        grid-template-columns: 1fr; /* Changed to 1fr for better mobile responsiveness */
        gap: 10px;
    }
}
